@import url(//db.onlinewebfonts.com/c/3ada9815c06d2619d52d16a5601c96b2?family=Early+GameBoy);

@font-face {
    font-family: "Early GameBoy";
    src: url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.eot");
    src: url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.woff") format("woff"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.svg#Early GameBoy") format("svg");
}
body {
    background-image: url('../css/images/Official\ Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}
#board {
    background-image: url('./images/Zelda\ Image.webp');
    background-size: cover;
    border: dashed black;
    width:80vw;
    height: 80vh;
    position: relative;
}

#start-button {
    font-family: 'Early Gameboy';
    font-size: 1.7em;
    background-color: aliceblue;
    border: solid, black;
    width: 20vw;
    height: 10vh;
    position: absolute;
    left: 30vw;
    top: 35vh;
    -webkit-appearance: none;
}

#player {
    background-image: url('./images/Link_funny-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10;
    position: absolute;

}

.obstacle1 {
    background-image: url('./images/Cuckoo\ Pixelated.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.rupees {
    background-image: url('./images/Green\ Rupee.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

#score-board {
    background-color: aliceblue;
    font-family: 'Early Gameboy';
    text-align: center;
    border: solid;
    padding: 5px;
    position: absolute;
    left: 70vw;
    top: 15vh;
    z-index: 2;
}

#score {
    text-align: center;
}

 #gameover {
    background-color: aliceblue;
    font-family: 'Early Gameboy';
    text-align: center;
    border: solid;
    position: absolute;
    padding-top: 8px;
    left: 20vw;
    top: 30vh;
    width: 40vw;
    height: 20vh;
 }

 #gameover::after{
    background-color: aliceblue;
    content: url(../css/images/pixilart-drawing\ \(1\).png);
    display:list-item;
 }

 #retry-button {
    background-color: aliceblue;
    border: solid, black;
    font-family: 'Early Gameboy';
    font-size: 1.7em;
    position: absolute;
    width: 20vw;
    height: 10vh;
 }

 #win-message {
    background-color: aliceblue;
    font-family: 'Early Gameboy';
    text-align: center;
    border: solid;
    position: absolute;
    padding-top: 8px;
    left: 30vw;
    top: 40vh;
    width: 40vw;
    height: 20vh;   
 }
 #win-message::after {
    content: url(../css/images/pixilart-drawing.png);
    display: list-item;
 }

 #retry-button {
    background-color: aliceblue;
    border: solid, black;
    font-family: 'Early Gameboy';
    font-size: 1.7em;
    position: relative;
    top: 60vh;
    left: 30vw;
    min-width: 20vw;
    min-height: 10vh;
 }

 #win-message {
    background-color: aliceblue;
    font-family: 'Early Gameboy';
    text-align: center;
    border: solid;
    position: absolute;
    padding-top: 8px;
    left: 20vw;
    top: 30vh;
    width: 40vw;
    height: 20vh;   
 }
 #win-message::after {
    content: url(../css/images/pixilart-drawing.png);
    display: list-item;
 }