@import url(//db.onlinewebfonts.com/c/3ada9815c06d2619d52d16a5601c96b2?family=Early+GameBoy);

@font-face {
    font-family: "Early GameBoy";
    src: url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.eot");
    src: url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.woff") format("woff"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.svg#Early GameBoy") format("svg");
}
body {
    background-color: black;
    margin: 0;
    padding: 0;
}
#board {
    background-image: url('./images/Zelda\ Image.webp');
    height: 100vh;
    position: relative;
}

#start-button {
    position: relative;
    left: 40%;
    top: 50%;
    min-width: 20vw;
    min-height: 10vh;
    font-family: 'Early Gameboy';
    font-size: 1.7em;
    background-color: aliceblue;
    border: solid, black;
    -webkit-appearance: none;
}

#player {
    background-image: url('./images/Link_funny-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    border-radius: 10;
}

.obstacle1 {
    background-image: url('./images/Cuckoo\ Pixelated.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.rupees {
    background-image: url('./images/Green\ Rupee.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

#score-board {
    background-color: aliceblue;
    font-family: 'Early Gameboy';
    border: solid;
    padding: 5px;
    position: absolute;
    left: 80%;
    top: 5%;
    text-align: center;
}

#score {
    text-align: center;
}

 #gameover {
    background-color: aliceblue;
    font-family: 'Early Gameboy';
    border: solid;
    position: absolute;
    left: 80%;
 }
 #winMessage {

    
 }